# php_flag xdebug.profiler_enable on
# php_value xdebug.profiler_output_dir "D:\Uniform\UniServerZ\www\bitsand9\var"

Options +FollowSymlinks

# Prevent Directory Listing
Options -Indexes

# Prevent Direct Access to files
<FilesMatch "\.(tpl|ini|log|git)">
 Order deny,allow
 Deny from all
</FilesMatch>

RewriteEngine On

# Prevent libwww-perl access
RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteRule .* - [F,L]

# Prevent anybody accessing resources or routes directly
RewriteCond %{QUERY_STRING} (^|&)_route_=(.*)($|&) [OR]
RewriteCond %{QUERY_STRING} (^|&)_resource_=(.*)($|&)
RewriteRule . index.php?_route_=error/method_not_allowed [R=405,L]

# The scripts, styles and images needs to be served from either the active theme or the default theme
RewriteCond %{REQUEST_URI} !.*(src).*
RewriteRule ^(styles|scripts|images|downloads|favicon)(.*) index.php?_resource_=$1$2 [L,QSA,END]

# Pass all other (non-file) requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css|woff|ttf)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA,END]

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/gif "access plus 1 year"
	ExpiresByType image/jpeg "access plus 1 year"
	ExpiresByType image/png "access plus 1 year"
	ExpiresByType image/x-icon "access plus 1 year"
	ExpiresByType text/css "access plus 1 year"
	ExpiresByType text/javascript "access plus 1 year"
	ExpiresByType application/x-javascript "access plus 1 year"
	ExpiresByType application/x-shockwave-flash "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(js|css|xml|gz|html|jpeg|jpg|png|ico|php|swf)$">
		Header set Connection keep-alive
		Header append Vary: Accept-Encoding
	</FilesMatch>
</IfModule>