Options +FollowSymlinks

# Prevent Directory Listing
Options -Indexes

# Prevent Direct Access to files
<FilesMatch "\.(tpl|ini|log|git)">
 Order deny,allow
 Deny from all
</FilesMatch>

RewriteEngine On

# Prevent libwww-perl access
RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteRule .* - [F,L]


# The scripts, styles and images needs to be served from either the active theme or the default theme
RewriteCond %{REQUEST_URI} !.*(src).*
RewriteRule ^(styles|scripts|images|downloads)(.*) index.php?_resource_=$1$2 [L,QSA,END]

# Pass all other (non-file) requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css|woff|ttf)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]