html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

.bits-drawer-header {
	box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 16px;
	height: 151px;
}
.bits-avatar {
	width: 48px;
	height: 48px;
	border-radius: 24px;
}
.bits-avatar-dropdown {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

.bits-layout nav {
	z-index: -2;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.bits-layout .bits-drawer .mdl-navigation__link {
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.56);
	font-weight: 500;
}
.bits-layout .bits-drawer .mdl-navigation__link .material-icons {
	font-size: 24px;
	color: rgba(255, 255, 255, 0.56);
	margin-right: 32px;
}
.bits-layout .bits-drawer .mdl-navigation__link:hover {
	background-color: #00bcd4;
	color: #37474f;
}

.bits-content {
	max-width: 1080px;
	margin: 0px auto;
	padding: 8px;
}

.bits-title {
	margin-top: 0px;
	margin-bottom: 8px;
}

.bits-events__event {
	height: 246px;
	background: #3e4eb8;
	overflow: visible;
	z-index: 10;
}
.bits-events__event > .mdl-card__actions {
	border-color: rgba(255, 255, 255, 0.2);
	display: flex;
	box-sizing: border-box;
	align-items: center;
	-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.bits-events__event > .mdl-card__actions > * {
	    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.bits-events__event > .mdl-card__title {
	align-items: flex-start;
}
.bits-events__event > .mdl-card__title > h4 {
	margin-top: 0px;
}
.bits-events__event > .mdl-card__title,
.bits-events__event > .mdl-card__actions,
.bits-events__event > .mdl-card__actions > .mdl-button {
	color: #fff;
}
.bits-events__event > .mdl-button.floating {
	position: absolute;
	top: 0px;
	right: 28px;
	-webkit-transform: translate(0px, -28px);
	transform: translate(0px, -28px);
}