@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

html, input, table, textarea {
	font-family: "Droid Serif", "Times New Roman", Times, serif;
}

body {
	background-color: rgb(223, 223, 223);
	padding: 0px 3px;
}

a {
	color: rgb(43, 114, 187);
	text-decoration: none;
}
a:visited {
	color: rgb(33, 92, 152);
}

.content {
	max-width: 960px;
	margin: 0px auto;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
	border: 1px solid rgb(68, 68, 68);
	padding: 3px 4px;
}

input.button, a.button, button.button {
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	font-size: 0.8rem;
	padding: 0.35rem 1rem;
	margin: 0px 0.15rem;
	color: rgb(68, 68, 68);
	color: rgba(0, 0, 0, 0.8);
	background-color: rgb(230, 230, 230);
	border: 0px none;
	text-decoration: none;
	border-radius: 2px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
	-webkit-transition: background 0.15s ease;
	-moz-transition: background 0.15s ease;
	-ms-transition: background 0.15s ease;
	-o-transition: background 0.15s ease;
	transition: background 0.15s ease;
}
input.button:hover, a.button:hover, button.button:hover {
	background-color: rgb(204, 204, 204);
}


#login-header, #menu, #footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
#login-header, #menu {
	border-bottom: 2px solid rgb(68, 68, 68);
}
#footer {
	border-top: 2px solid rgb(68, 68, 68);
}

#login-header h1 {
	display: block;
}
#login-header .content {
	position: relative;
	padding-left: 1rem;
}
#login-header .login {
	position: absolute;
	text-align: right;
	line-height: 2rem; /* Match the H1 height */
	right: 1rem; top: 0px;
}
#login-header label {
	display: none;
}
#login-header a.register, #login-header form {
	display: inline-block;
}
#login-header form {
	padding-right: 0.9rem;
}

#menu {
	padding: 2px 0px;
	background-color: rgb(186, 186, 186);
}
#menu li {
	display: inline-block;
}
#menu li a {
	font-size: 1.25rem;
	line-height: 2rem;
	padding: 0.35rem 1rem;
	cursor: pointer;
	-webkit-transition: background 0.15s ease;
	-moz-transition: background 0.15s ease;
	-ms-transition: background 0.15s ease;
	-o-transition: background 0.15s ease;
	transition: background 0.15s ease;
}
#menu li a:hover {
	background-color: rgb(204, 204, 204);
}
#menu li a.selected {
	background-color: rgb(154, 154, 154);
}

#content {
	padding: 1rem;
}
#content p {
	margin-bottom: 0.5rem;
}

#footer p {
	font-family: sans-serif;
	text-align: center;
	font-size: 0.6rem;
}


.fixed-form div.row {
	display: block;
	margin-bottom: 0.75rem;
}
.fixed-form label {
	display: inline-block;
	width: 38%;
}
.fixed-form input[type="text"], .fixed-form input[type="email"], .fixed-form input[type="password"] {
	width: 60%;
}
.fixed-form span.error {
	text-align: center;
	color: rgb(205,97,85);
	display: block;
}


#login-form {
	width: 50%;
	margin: 4rem 25%;
}

.box {
	position: absolute;
	width: 50%;
	left: 25%;
	margin-top: 1rem;
	border-radius: 4px 4px;
	padding: 1rem;
	color: rgb(250, 250, 250);
	font-size: 1rem;
	text-align: center;
	opacity: 1;
	cursor: pointer;
	-webkit-transition: opacity 0.15s ease-out;
	-moz-transition: opacity 0.15s ease-out;
	-ms-transition: opacity 0.15s ease-out;
	-o-transition: opacity 0.15s ease-out;
	transition: opacity 0.15s ease-out;
}
.box:after {
	content: '';
	position: absolute;
	top: 0px; right: 0px;
	width: 1rem; height: 1rem;
	padding: 1rem;
	background: url('../images/icon-close.png') no-repeat 50% 50%;
}

.box.error {
	background-color: rgb(205,97,85);
	background-color: rgba(205,97,85, 0.75);
}
.box.success {
	background-color: rgb(88,214,141);
	background-color: rgba(88,214,141, 0.75);
}
.box.warning {
	background-color: rgb(245,176,65);
	background-color: rgba(245,176,65, 0.75);
}